<div class="login">
  <div class="logo">
    <svg-icon src="assets/icons/em-logo.svg"></svg-icon>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="mb-5">
        <div class="form-label">Логин</div>
        <input class="form-control" type="text" formControlName="username"
               emPreventSpace
               (keydown)="trackCaps($event)"
               placeholder="Введите  логин"
               [class.is-invalid]="f['username']?.invalid && f['username']?.touched">
        <em-validator [fieldControl]="f['username']"></em-validator>
      </div>
      <div class="mb-5 md-mb-0">

        <div class="form-label">Пароль</div>
        <input class="form-control" [type]="showPassword ? 'text' : 'password'"
               emPreventSpace
               (keydown)="trackCaps($event)"
               formControlName="password"
               placeholder="Введите пароль">
        <div class="pass-show" (click)="changePassShow()">
          <svg-icon class="em-d-contents"
                    [src]="showPassword ? '/assets/icons/eye.svg' : '/assets/icons/eyeslash.svg'"></svg-icon>
        </div>
        <em-validator [fieldControl]="f['password']"></em-validator>
      </div>
      <div class="em-d-flex em-jc-sb em-ai-center">
        @if (capsOn) {
          <div class="check-label">CapsLock включен</div>
        }
        <div [style.width]="capsOn ? '50%' : '100%'">
          <span (click)="navigate()" class="forgot-password">
             Забыли пароль?
          </span>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary w-100 footer__btn">
        {{ !loading ? "Вход" : "" }}
        @if (loading) {
          <span class="loader-spinner xs white"></span>
        }
      </button>
    </div>
  </form>
</div>
<em-toast></em-toast>
