<div #container [attr.id]="message().id" [class]="message().styleClass"
  [ngClass]="['p-toast-message-' + message().severity, 'p-toast-message']"
  [@messageState]="{value: 'visible', params: {showTransformParams: showTransformOptions(), hideTransformParams: hideTransformOptions(), showTransitionParams: showTransitionOptions(), hideTransitionParams: hideTransitionOptions()}}"
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="p-toast-message-content" role="alert" aria-live="assertive" aria-atomic="true"
    [ngClass]="message().contentStyleClass">
    @if (!template()) {
      <svg-icon [class]="'p-toast-message-icon' + (message().severity ? '-' + message().severity : '')"
      [src]="'assets/icons/toast/' + message().severity + '.svg'" />
      <div class="p-toast-message-text">
        <div class="p-toast-summary">{{message().summary}}</div>
        <div class="p-toast-detail">{{message().detail}}</div>
      </div>
    }
    <ng-container *ngTemplateOutlet="template(); context: {$implicit: message()}" />
    @if (message().closable !== false) {
      <button type="button" class="p-toast-icon-close p-link" style="flex-shrink: 0;" (click)="onCloseIconClick($event)"
        (keydown.enter)="onCloseIconClick($event)">
        <svg-icon class="p-toast-icon-close-icon" src="assets/images/close.svg" />
      </button>
    }
  </div>
</div>
