@use 'core/scss/variables' as *;
@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/button' as *;
@use 'core/scss/margins' as *;
@use 'core/scss/paddings' as *;
@use 'core/scss/card' as *;
@use 'core/scss/mixins/breakpoints' as *;

.mobile-card {
  display: none;
}

@include media-breakpoint-down(sm) {
  em-table {
    display: none;
  }

  ::ng-deep em-header {

    .title-h1 {
      display: none;
    }
  }

  .mobile-card {
    display: block;
  }
}

