<div class="form-group autocomplete invalid"
     [class.open]="isOpenDropdown()">
  <div class="autocomplete__container" (emClickOutside)="isOpenDropdown.set(false)">
    <div class="form-control d-flex-sb"
         [class.focused]="isOpenDropdown()"
         (click)="handleContainerClick($event)"
         [class.disabled]="disabled()">

      @if (!searchable()) {
        <span class="placeholder">{{ placeholder() }}</span>
      }

      @if (searchable()) {
        <input #searchInput
               type="text"
               class="autocomplete__autocomplete"
               [formControl]="searchField$"
               [placeholder]="placeholder() ?? ''"
               [disabled]="disabled()"
               (focus)="openDropdown()"
               (click)="$event.stopPropagation()">
      }

      @if (!searchable() && selected) {
        <div class="value">{{ selected[optionLabel()] }}</div>
      }

      <div class="arrow">
        @if (loading()) {
          <span class="loader-spinner s brand"></span>
        }
      </div>

      @if (!loading() && searchField$.value) {
        <svg-icon (click)="handleClearClick($event)"
                  src="assets/icons/cancel.svg"
                  class="close-icon cancel-small-svg"/>
      }

      <svg-icon (click)="handleArrowClick($event)"
                src="assets/icons/sort.svg"
                class="arrow-icon"/>
    </div>
  </div>

  <div class="dropdown"
       [style.max-height]="maxHeight()"
       [pagination]="pagination"
       [selector]="'dropdown'"
       (emInfiniteScroll)="onScrolled()">

    @if (isOpenDropdown()) {
      <ul emSelectTrigger class="dropdown-list"
          [itemLength]="items.length"
          [isOpen]="isOpenDropdown()"
          (isOpenChange)="isOpenDropdown.set($event)"
          (valueChange)="valueChange($event)">
        @for (option of items; track option[optionValue()]) {
          <li class="dropdown-item mb-1"
              [class.selected]="selected?.[optionValue()] === option[optionValue()]"
              [class.active]="option['selected'] && selected?.[optionValue()] !== option[optionValue()]"
              (click)="onSelect(option)">
            <div class="value">{{ option[optionLabel()] || option['fullName'] }}</div>
            <div>
              <svg-icon class="dropdown-icon" src="./assets/images/succes.svg"/>
            </div>
          </li>
        }
      </ul>
    }

    @if (isOpenDropdown() && !(selected || dataSource?.length)) {
      <div class="dropdown-item">Нет данных</div>
    }
  </div>
</div>
