<div class="modal">
  <h2 class="modal__title">{{ data.title }}</h2>

  <div class="modal__form-group">
    <label class="modal__form-group-label">Статус обращения</label>
    <div class="modal__form-group-select" (click)="toggleStatusDropdown()">
      <span>{{ selectedStatusName }}</span>
      <i class="modal__form-group-select-arrow"></i>
    </div>
    @if (dropdownStatusOpen()) {
      <ul class="modal__form-group-options">
        @for (status of statuses; track status) {
          <li
            class="modal__form-group-options-item"
            (click)="selectStatus(status.id)"
            >
            {{ status.name }}
          </li>
        }
      </ul>
    }
  </div>

  <div class="modal__button-group mt-6">
    <button class="modal__button-group-btn modal__button-group-btn--cancel" (click)="onCancel()">Отмена</button>
    <button
      class="modal__button-group-btn modal__button-group-btn--submit"
      [disabled]="isUnchanged"
      (click)="onSubmit()"
      >
      Выбрать
    </button>

  </div>
</div>
