<div class="login">
  <div class="logo mb-5">
    <svg-icon src="assets/icons/em-logo.svg" />
  </div>
  <div class="h1">Ваш пароль просрочен,<br> необходимо изменить пароль</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="mb-5">
        <div class="form-label">Текущий пароль</div>
        <input emPreventSpace class="form-control" [type]="showCurrentPassword ? 'text' : 'password'"
          (keydown)="trackCaps($event)"
          formControlName="currentPassword"
          placeholder="Введите пароль"
          [class.is-invalid]="f['currentPassword']?.invalid && f['currentPassword']?.touched">
          <div class="passShow" (click)="showCurrentPassword = !showCurrentPassword">
            <svg-icon [src]="showCurrentPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
          </div>
          <em-validator [fieldControl]="f['currentPassword']" />
        </div>
        <div class="mb-5">
          <div class="form-label">Новый пароль</div>
          <input emPreventSpace class="form-control" [type]="showPassword ? 'text' : 'password'"
            (keydown)="trackCaps($event)"
            formControlName="password"
            placeholder="Введите пароль"
            [class.is-invalid]="f['password']?.invalid && f['password']?.touched">
            <div class="passShow" (click)="showPassword =!showPassword">
              <svg-icon [src]="showPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
            </div>
            <em-validator [fieldControl]="f['password']"
             />
          </div>
          <div class="mb-5">
            <div class="form-label">Повторите новый пароль</div>
            <input emPreventSpace class="form-control" [type]="showConfirmPassword ? 'text' : 'password'"
              (keydown)="trackCaps($event)"
              formControlName="passwordConfirmation"
              placeholder="Введите пароль"
              [class.is-invalid]="f['passwordConfirmation']?.invalid && f['passwordConfirmation']?.touched">
              <div class="passShow" (click)="showConfirmPassword =!showConfirmPassword">
                <svg-icon [src]="showConfirmPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
              </div>
            </div>

            <em-password-input-rules [passwordControl]="form.get('password')"
              [confirmPasswordControl]="form.get('passwordConfirmation')" />

            @if (capsOn) {
              <div class="check-label">CapsLock включен</div>
            }
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100 footer__btn" [disabled]="form.invalid">
              {{!loading ? "Вход" : ""}}
              @if (loading) {
                <span class="loader-spinner xs white"></span>
              }
            </button>
          </div>
        </form>
      </div>
      <em-toast />
