<div class="map" [class.disabled]="disabled">
  <div class="map__left">
    <div id="map"></div>
  </div>
  <div class="map__right">
    <div class="form">
      <div class="label">Широта</div>
      <div class="input">
        <input type="text" class="form-control" [(ngModel)]="latitude" (change)="mapChange()"
               placeholder="Введите широту">
      </div>
    </div>
    <div class="form">
      <div class="label">Долгота</div>
      <div class="input">
        <input type="text" class="form-control" [(ngModel)]="longitude" (change)="mapChange()"
               placeholder="Введите долготу">
      </div>
    </div>
  </div>
</div>
