@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/form';
@import 'core/scss/margins';
@import 'core/scss/paddings';
@import 'core/scss/variables';

.map {
  display: flex;
  gap: 2rem;

  &.disabled {
    pointer-events: none;
  }

  &__left {
    width: 50%;

    #map {
      height: 400px;
      width: 100%;
      border-radius: 1rem;
    }
  }

  &__right {
    width: 50%;
  }
}

::ng-deep.leaflet-container a {
  display: none;
}

