@use 'core/scss/variables' as *;
@use 'core/scss/mixins/breakpoints' as *;
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/assets/fonts/Roboto/Roboto-Thin.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/assets/fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/Roboto/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
  url('/assets/fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/Roboto/Roboto.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto.woff') format('woff'), url('/assets/fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '/assets/fonts/Roboto/Roboto';
  src: local('/assets/fonts/Roboto/Roboto Italic'), local('/assets/fonts/Roboto/Roboto-Italic'), url('/assets/fonts/Roboto/Roboto-Italic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/Roboto/Robotomedium.woff2') format('woff2'), url('/assets/fonts/Roboto/Robotomedium.woff') format('woff'), url('/assets/fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/assets/fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/Roboto/Robotobold.woff2') format('woff2'), url('/assets/fonts/Roboto/Robotobold.woff') format('woff'), url('/assets/fonts/Roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('/assets/fonts/Roboto/Robotoblack.woff2') format('woff2'), url('/assets/fonts/Roboto/Robotoblack.woff') format('woff'),
  url('/assets/fonts/Roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  background-color: $white-color;
  font-size: 16px;
}

.mobile-filter {
  display: none;
}

@include media-breakpoint-down(md) {
  * {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-modalbox .mat-dialog-container {
  padding: 2.5rem;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
}

.rating-dialog-panel .mat-dialog-container {
  padding: 0;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
  overflow: hidden;
}

.custom-modalbox .mdc-dialog__surface {
  overflow-y: initial!important;
}

@include media-breakpoint-down(sm) {
  * {
    font-size: 16px;
  }

  .mobile-dialog {
    max-width: 100vw!important;
    height: 100vh;

    .mat-mdc-dialog-surface {
      border-radius: 0!important;
    }
  }

  .bottom-sheet .mat-bottom-sheet-container {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .date-picker {
    max-width: 90vw!important;
    height: 85vh;
  }

  .mobile-filter {
    width: 100%;
    display: block;
    padding: 1rem;

    button {
      width: 100%;
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
      border: 1px solid $border-color-brand;
      background-color: transparent;
      color: $primary-color;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1rem;

      &.active {
        border: 1px solid $border-color-brand;
        color: $white-color;
        background: $primary-color;
      }
    }
  }

  .custom-modalbox {
    max-width: 90vw!important;
  }

  .rating-dialog-panel {
    max-width: 90vw!important;
  }
}
