@import "core/scss/variables";
@import "core/scss/button";
@import "core/scss/flex";
@import "core/scss/styles";
@import "core/scss/margins";
@import 'core/scss/table';
@import 'core/scss/paddings';
@import 'core/scss/form';

.table-title {
  min-width: 120px;
  white-space: nowrap;
  text-align: left;
  padding: 16px;
}

.drag-scroll{
  user-select: none;
  cursor: grabbing;
}

.copy-button {
  border-radius: 4px;
  padding: 0.5rem;
  position: absolute;
  right: 6px;
  top: 7px;
  background: $white-color;

  &:hover{
    background: $main-bg;
  }
}
