<em-header2
  [actions]="actions"
  [filterFields]="columns"
  [filterStorageKey]="'bankPromotionFiltersForm'">
  <div class="d-flex-sb w-100" header-center-default>
    <span class="title-h1">Акции банка</span>
  </div>
  <ng-container header-actions>
    <div class="d-flex-sb pl-3 v-line-left">
      @for (action of actions; track action) {
        <em-actions [actionData]="action" />
      }
    </div>
    @if (paginate) {
      <em-pagination class="pl-3"
      [page]="paginate" />
    }
  </ng-container>
</em-header2>
<em-table (detail)="showDetail($event)"
  (edit)="edit($event)"
  (sortChange)="sortTable($event)"
  [dataSource]="bankPromotions"
  [captions]="columns"
  [rowActions]="tableActions"
  [loading]="loading()" />
@if (loading()) {
  <em-eb-loader class="form-loader" />
}
