@import "shared-core/src/core/scss/mixins/mixin";
@import "shared-core/src/core/scss/margins";
@import "shared-core/src/core/scss/flex";

.auth {
  //width: 100%;
  @include flex_ai_center();
  padding: 2rem;
  background: url("assets/images/auth-bg.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;

}
.select-image {
  background: url("assets/images/auth-bg.webp") no-repeat center center!important;

}
