<div class="user-change-password">
  <div class="em-d-flex em-jc-sb user-change-password-header mb-3">
    <div class="title">Сменить пароль</div>
    <div class="close">
      <svg-icon class="c-pointer" src="assets/icons/cross.svg" [mat-dialog-close]="true" />
    </div>
  </div>
  <div class="user-change-password-info">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <div class="form-label">Текущий пароль</div>
        <input emPreventSpace class="form-control" [type]="showPassword ? 'text' : 'password'"
               (keydown)="trackCaps($event)"
               formControlName="currentPassword"
               placeholder="Введите пароль"
               [class.is-invalid]="f['currentPassword']?.invalid && f['currentPassword']?.touched">
        <div class="pass-show" (click)="changePassShow()">
          <svg-icon [src]="showPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
        </div>
        <em-validator [fieldControl]="f['currentPassword']" />
      </div>

      <div class="mb-5">
        <div class="form-label">Новый пароль</div>
        <input emPreventSpace class="form-control" [type]="showNewPassword ? 'text' : 'password'"
               (keydown)="trackCaps($event)"
               formControlName="newPassword"
               placeholder="Введите пароль"
               [class.is-invalid]="f['newPassword']?.invalid && f['newPassword']?.touched">
        <div class="pass-show" (click)="changeNewPassShow()">
          <svg-icon [src]="showNewPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
        </div>
        <em-validator [fieldControl]="f['newPassword']"
         />
      </div>

      <div class="mb-5">
        <div class="form-label">Повторите новый пароль</div>
        <input emPreventSpace class="form-control" [type]="showConfirmPassword ? 'text' : 'password'"
               (keydown)="trackCaps($event)"
               formControlName="confirmPassword"
               placeholder="Введите пароль"
               [class.is-invalid]="f['confirmPassword']?.invalid && f['confirmPassword']?.touched">
        <div class="pass-show" (click)="changeConfirmPassShow()">
          <svg-icon [src]="showConfirmPassword ? 'assets/icons/eye.svg' : 'assets/icons/eyeslash.svg'" />
        </div>
      </div>

      <em-password-input-rules [passwordControl]="form.get('newPassword')"
                               [confirmPasswordControl]="form.get('confirmPassword')" />

      @if (capsOn) {
        <div class="check-label mb-3">CapsLock включен</div>
      }
      <div class="em-d-flex em-jc-sb actions">
        <button class="btn btn-secondary w-100 footer__btn mr-3" [disabled]="submitted" [mat-dialog-close]="">Отмена
        </button>
        <button class="btn btn-primary w-100 footer__btn md-mb-1" [disabled]="form.invalid && submitted">Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
<em-toast />
