@import "core/scss/flex";
@import "core/scss/margins";
@import "core/scss/variables";
@import "core/scss/button";
@import 'core/scss/form';
@import 'core/scss/styles';
@import 'core/scss/mixins/breakpoints';

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.user-change-password {
  width: 450px;
  padding: 2.5rem;

  &-header {
    @include flex_align_center();

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $text-color;
    }

    .close {
      @include flex_align_center();
      cursor: pointer;

      svg-icon {
        line-height: 0;
      }
    }
  }

  &-info {
    > form .footer__btn {
      padding: 1rem 0;
    }

    em-password-input-rules {

      ::ng-deep .rules-item {
        color: #000a1b9e;
      }
    }
  }

}

.pass-show {
  cursor: pointer;
  position: relative;
  float: right;
  top: -32px;

  svg {
    stroke: $palette;
  }
}

@include media-breakpoint-down(md) {

  ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 100vw !important;
    height: 100vh;
  }

  .user-change-password {
    width: 80vw;
    padding: 1rem;

    .user-change-password-info .actions {
      flex-wrap: wrap-reverse;

      .footer__btn {
        margin-right: 0;
        padding: 0.5rem 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .user-change-password {
    width: 100vw;
    padding: 0;

    &-header {
      border-bottom: 1px solid $color-grey-500;
      padding: 1rem 1rem 0.75rem 1rem;

      .title {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .close {
        @include flex_align_center();

        svg-icon {
          line-height: 0;
        }
      }
    }

    &-info {
      padding: 0 1rem;

      .actions {
        position: absolute;
        flex-wrap: wrap!important;
        width: 100%;
        margin: 0 -1rem;
        padding: 0 1rem;
        bottom: 1.5rem;
        gap: 0.5rem;

        button {
          width: 100%;
          padding: 0.75rem 0!important;
          margin: 0;
          font-size: 1rem;

          &.btn-secondary {
            padding: 0.625rem 0!important;
          }
        }
      }
    }
  }
}
