@import 'core/scss/variables';
@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/paddings';
@import 'core/scss/form';
@import './../styles';


.show {
  display: block;
}

.hide {
  display: none;
}

.em-g-8 {
  padding: 0 	1.875rem;
}


.setting-info {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  z-index: 99;
  position: absolute;
  padding: 1rem;
  background-color: $white-color;
  min-width: 200px;
  left: 0;
  top: 45px;
  max-height: 500px;
  overflow-y: scroll;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}

.arrow{
  display: block;
  height: 24px;
}

.dropdown-list{
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  display: table;
}

.tab-item-dropdown {
  border-radius: 8px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 18px;
  line-height: 26px;
  color: $palette;

  &:hover {
    background: $brand-hover;
    color: $palette;

    .dropdown-icon, svg {
      fill: $palette;
    }
  }

  &_active {
    font-weight: 500;
    border: 1px solid $primary-color;
    color: $white-color;
    background: $primary-color;

    &:hover {
      color: $white-color;
      background: $primary-color;
    }

    .dropdown-icon, svg {
      fill: $white-color;
    }
  }
}

@include media-breakpoint-down(md) {

  .d-blocks {
    display: block !important;
  }

  .action-group {
    display: block;
    width: 100%;
  }

  .action-container {
    padding: 1rem 1rem .5rem;
    border-bottom: none;
  }
}

@include media-breakpoint-down(sm) {
  .position-sticky {
    position: inherit;
    padding: 0;

    .header {
      display: none;
    }

    .header-container {
      padding: 1rem 1rem 0.5rem 1rem;
      border-bottom: none;

      .back-content {
        @include flex_align_center();
        gap: 0.5rem;
        padding-bottom: 1rem;
        padding-top: 0.25rem;

        .title {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
        }

        .back {
          line-height: 0;
        }
      }

      .mobile-filter {
        padding: 0;
      }

      em-pagination {
        display: none;
      }

      .action-group {
        display: block;
        width: 100%;
      }

      .actions {
        border-right: 0;
        gap: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
