<em-header2
  [filterFields]="captions"
  [showMobileFilter]="true"
  [showBreadcrumb]="false"
  [filterStorageKey]="'advancePaymentsInfoFiltersForm'">
  <em-banner header-banner />

  <div class="d-flex-sb w-100" header-center-default>
    <span class="title-h1">Информация</span>
  </div>
  <ng-container header-actions>
    @if (paginate && !isMobile) {
      <em-pagination class="pl-3"
        [page]="paginate" />
    }
  </ng-container>
</em-header2>

<em-table (sortChange)="sortTable($event)"
  [dataSource]="advanceDetail"
  [captions]="captions"
  [loading]="loading()" />

<em-mobile-card [items]="advanceDetail"
  [columns]="captions"
  [paginate]="paginate"
  [isMobile]="isMobile"
  [loading]="loading()"
 />

<em-toast />
