@use 'core/scss/variables' as *;
@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/button' as *;
@use 'core/scss/margins' as *;
@use 'core/scss/form' as *;
@use 'core/scss/paddings' as *;

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.confirm-dialog {
  border-radius: 1rem;
  padding: 2.5rem;

}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
