@import "core/scss/flex";
@import "core/scss/margins";
@import "core/scss/variables";
@import "core/scss/button";
@import 'core/scss/form';
@import 'core/scss/styles';

* {
  font-size: 1rem;
}

.period-dropdown {
  min-width: 250px;
}

.main-filter {
  @include flex_column();
  width: 100vw;

  &-top {
    @include flex_align_center_justify_between();
    padding: 1rem 1rem 0.75rem 1rem;
    border-bottom: 1px solid $color-grey-500;

    .svg-icon {
      line-height: 0;
    }
  }

  &-body {
    @include flex_column();
    padding: 1.5rem 1rem 0 1rem;
    gap: 0.5rem;

    .form-body {
      @include flex_column();
      gap: 8px;

      .filtered-value {
        background: $white-color;
        padding: 0.5rem .2rem;
        border: 1px solid $brand-line;
        border-radius: 8px;
        box-sizing: border-box;
        height: 52px;
        min-width: 250px;
        width: 100%;

        &:hover {
          border-color: $brand-hover;
        }

        .filter-value {
          min-width: 40px;
          width: -webkit-fill-available;
          outline: none;
          border: none;
          caret-color: $primary-color;
          background: transparent;

          &[type="datetime-local"] {
            position: relative;
            z-index: 2;
            background: transparent;
          }

          &.invalid {
            border: 1px solid $danger-color;
          }
        }

        .hidden-calendar-icon::-webkit-calendar-picker-indicator {
          display: none;
        }

        .date-filter {
          margin-left: -20px;
          margin-right: 10px;
        }

        em-simple-select-list {
          width: 180px;

          ::ng-deep .form-control {
            height: 35px;
            border-bottom: none;

            .value {
              font-weight: 400;
            }

            .arrow {
              display: none;
            }
          }
        }

        .input-container {
          position: relative;
          flex-grow: 1;
        }

        .custom-placeholder {
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          color: rgba($color: #000000, $alpha: 0.5);
          pointer-events: none;
          font-size: 0.875rem;
          background: white;
          padding: 0 4px;
          z-index: 1;

          @supports not (-webkit-appearance: none) {
            display: none;
          }
        }

        input[type="datetime-local"],
        input[type="date"] {
          @supports (-webkit-appearance: none) {
            @include hide-date-elements;

            &:not(:valid) {
              @include datetime-text-visibility(hidden);
            }

            &:valid {
              @include datetime-text-visibility(visible);
            }
          }
          @-moz-document url-prefix() {
            & {
              -moz-appearance: textfield;
            }
          }
        }

        .filter-label {
          font-size: 0.8rem;
          line-height: 1.8rem;
          color: $palette;
        }

        .arrow {
          transition: all 400ms ease;
          border-radius: 50%;
          width: 24px;
          height: 24px;

          &:hover {
            background-color: $li-grey-hover;
          }
        }
        &.invalid {
          border: 1px solid $danger-color;
        }
      }
    }

    .date-filter {
      background-color: transparent;
      border-radius: 0;
      padding: 0.5rem 0 0 0;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 10px;

    }

    .cancel {
      position: absolute;
      right: 0;
    }

    .validation-error {
      color: $danger-color;
      font-size: 0.7rem;
      margin-top: -0.3rem;
    }
  }

  &-bottom {
    @include flex_column();
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    padding: 0 1rem;
    gap: 0.5rem;

    .btn {
      width: 100%;
      padding: 0.75rem 0;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5rem;

      &.btn-secondary {
        padding: 0.625rem 0;
      }
    }
  }
}
