@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/button' as *;
@use 'core/scss/form' as *;
@use 'core/scss/margins' as *;
@use 'core/scss/variables' as *;
@use 'core/scss/mixins/mixin' as *;


::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.withdrawal-dialog {
  height: 280px;
  padding: 2.5rem;

  .bottom {
    @include flex_jc_sb();
    gap: 10px;

    button {
      width: 264px;
      min-height: 50px;
      padding: 0 1.25rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .withdrawal-dialog {
    height: 160px;
    padding: 1.5rem;

    .bottom .btn {
      height: 40px;
    }
  }
}
