<em-header2 [showBreadcrumb]="true">
  <div class="d-flex-sb w-100" header-center-default>
    <svg-icon class="back" [src]="'/assets/icons/chevron-left.svg'" (click)="back()" />
    <div class="title-h1 w-100">Информация</div>
    <div class="em-d-flex">
      <div *ngxPermissionsOnly="'PosUpdate'" class="ml-3 icon-item tooltip" (click)="posEdit()">
        <svg-icon src="assets/icons/pen.svg" />
        <span class="tooltiptext">Редактирования </span>
      </div>
    </div>
  </div>
</em-header2>
@if (posDetail) {
  <div class="pos-info">
    <div class="pos-info-container v-line">
      <div class="labels-data">
        <div class="em-d-flex">
          <span class="key">Названия кассы</span>
          <span>:</span>
          <span class="data">{{posDetail.name || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Адрес</span>
          <span>:</span>
          <span class="data">{{posDetail.address || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">ФИО кассира</span>
          <span>:</span>
          <span class="data">{{posDetail.posContactJson.cashierName || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Номер телефона</span>
          <span>:</span>
          <span class="data em-dr-row em-fw-wrap">@for (phone of posDetail.posContactJson.smsPhoneNumbers; track phone) {
            <span>{{phone}},</span>
          }</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Номер телефона в EQMS</span>
          <span>:</span>
          <span class="data">{{posDetail.posContactJson.eqmsPhoneNumber || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">ID в EQMS</span>
          <span>:</span>
          <span class="data">{{posDetail.extCodeEqms || '-'}}</span>
        </div>
      </div>
    </div>
    <div class="pos-info-container v-line md-mb-5">
      <div class="labels-data">
        <div class="em-d-flex">
          <span class="key">Тип кассы</span>
          <span>:</span>
          <span class="data">{{posDetail.posTypeName || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Тип интеграции</span>
          <span>:</span>
          <span class="data">{{posDetail.integrationTypeName || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Статус</span>
          <span>:</span>
          <span class="data">{{posDetail.statusName || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Точка</span>
          <span>:</span>
          <span class="data">{{posDetail.merchantName || '-'}}</span>
        </div>
        <div class="em-d-flex">
          <span class="key">Почта</span>
          <span>:</span>
          <span class="data">{{posDetail.posContactJson.emails || '-'}}</span>
        </div>
      </div>
    </div>
    @if (qrCode) {
      <div class="pos-info-container">
        <qrcode [qrdata]="qrCode"
          [width]="175"
          [imageWidth]="50"
          [imageHeight]="50"
          [colorDark]="'#293241'"
          [colorLight]="'#F5F9FC'"
          [allowEmptyString]="true"
         />
        <div class="form mb-0">
          <div *ngxPermissionsOnly="'PosQrCodeGeneration'" class="link md-ta-center mb-2" (click)="printQrCode()">Распечатать QR</div>
          <ng-container *ngxPermissionsOnly="'PosSetting'">
            @if (posDetail?.isShowPosSetting) {
              <div class="link md-ta-center" (click)="getSettings()">Скачать настройки кассы</div>
            }
          </ng-container>
        </div>
      </div>
    }
  </div>
}
<div class="padding-6 hide-on-mobile">
  @if (eQMSQrCodeSrc) {
    <div class="mb-3">
      <h2 class="em-fw-700">Размеры QR</h2>
      <div class="em-d-flex em-fw-wrap em-g-40 mr-7">
        @for (qrSize of qrSizes; track qrSize; let i = $index) {
          <div>
            <div class="em-d-flex em-g-40">
              <label class="l-radio">
                <input type="radio"
                  (click)="changeQrSize(qrSize)"
                  [checked]="qrSize.isSelected">
                  <span> {{qrSize.value}}</span>
                </label>
              </div>
            </div>
          }
        </div>
      </div>
    }
    @if (eQMSQrCodeSrc) {
      <div class="em-d-flex mb-3">
        <div class="mb-0">
          <ng-container *ngxPermissionsOnly="'PosQrCodeGeneration'">
            <a
              class="em-primary-color c-pointer em-fw-700 mr-3"
              (click)="downloadQrWithBackground()">
              Скачать QR(png)
            </a>
          </ng-container>
        </div>
        <div class="em-primary-color c-pointer em-fw-700" [previewOnly]="false" [useExistingCss]="true" printSectionId="qr" emPrint>Распечатать</div>
      </div>
    }
    @if (eQMSQrCode) {
      <div #qrContainer id="qr" class="em-d-flex em-ai-center">
        <div [ngStyle]="{ 'background-image': 'url(&quot;assets/images/'+ selectedQrSize +'.png&quot;)', 'background-position': 'center','background-repeat': 'no-repeat' }" class="qr" [className]="'qr-' + selectedQrSize ">
          <div class="qr-code" >
            <div class="qr-code-body" [className]="'qr-code-body-' + selectedQrSize ">
              <div class="qr-code-title" [className]="'qr-code-title-' + selectedQrSize ">{{posDetail?.name}}</div>
              <qrcode class="qr-svg "
                [qrdata]="eQMSQrCode"
                [allowEmptyString]="true"
                [elementType]="'svg'"
                [width]="qrBody"
                [imageWidth]="50"
                [imageHeight]="50"
                [colorDark]="'#293241'"
                [colorLight]="'#EBEBEB'"
                (qrCodeURL)="changeURL($event,'eqms')"
               />
            </div>
          </div>
        </div>
      </div>
    }
  </div>
