<div class="padding-6">
  <div class="mb-6">
  <span class="title-h1 fs-24">{{!!integrationDetail?.id ? 'Изменить настройки интеграции' : 'Новая настройка интеграции'}}</span>
  </div>
  <form class="integration-dialog em-d-flex em-dr-columm em-jc-sb" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div class="form">
        <div class="label">Тип*</div>
        <div class="input">
          <em-simple-select-list formControlName="integrationTypeId"
            action="Выберите тип"
            [dataSource]="integrationTypes"
            (changed)="selectedIntegration($event)"
           />
          <em-validator [fieldControl]="f['integrationTypeId']" />
        </div>
      </div>
      @if (jsonFormData) {
        <div class="form">
          <div class="label">Параметры</div>
          <br>
          <form [formGroup]="params">
            @for (control of jsonFormData; track control.name; let i = $index) {
              @switch (control.type) {
                @case ('dictionary') {
                  <div>
                    <div class="label">{{ control.label }}</div>
                    <em-autocomplete [formControlName]="control.name"
                      (changed)="onDictionaryChange(i, $event)"
                      [searchable]="true"
                      [placeholder]="control.placeholder"
                      [selectWithOutSearch]="true"
                      [path]="orderTypes" />
                  </div>
                }
                @default {
                  <div>
                    <div class="label">{{ control.label }}</div>
                    <input class="integrationJson"
                           [type]="control.type"
                           [value]="control.value"
                           [disabled]="control.disable"
                           [formControlName]="control.name"
                           [placeholder]="control.placeholder">
                  </div>
                }
              }
              <em-validator [fieldControl]="p[control.name]" />
            }
          </form>
        </div>
      }
    </div>
    <div class="em-d-flex em-jc-fe">
      <button class="btn btn-secondary btn-lg mr-2" [mat-dialog-close]="false">Отмена</button>
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Сохранить</button>
    </div>
  </form>
</div>
@if (submitted) {
  <em-eb-loader class="form-loader" />
}
<em-toast />
