<em-header2
  [filterFields]="columns"
  [actions]="actions"
  [filterStorageKey]="'orderFiltersForm'"
  [showMobileFilter]="true"
  [pageTitle]="header.title">
  <ng-container header-actions>
    <div class="d-flex-sb pl-3 v-line-left">
      @for (action of actions; track action) {
        <em-actions [actionStatus]="actionStatus"
          (orderStatus)="changeOrderStatus()"
          [actionData]="action" />
      }
    </div>
    @if (paginate) {
      <em-pagination class="pl-3"
        [page]="paginate" />
    }
  </ng-container>
</em-header2>
<em-table (sortChange)="sortTable($event)"
  (detail)="showDetail($event)"
  (link)="link($event)"
  [dataSource]="orders"
  [captions]="columns"
  [loading]="loading"
  [captionKey]="captionKey"
 />
