<div class="tab">
  @for (tabItem of visibleTabItems; track tabItem) {
    <a class="tab-item"
      *ngxPermissionsOnly="tabItem.permissionName"
      routerLinkActive="active"
      [queryParams]="tabItem.queryParams"
      [routerLink]="tabItem.path">
      <span>{{ tabItem.label }}</span>
    </a>
  }

  @if (!isMobile && enableDropdown && dropdownTabItems.length > 0) {
    <a class="tab__item em-d-flex em-g-16"
      (click)="toggleDropdown()"
      (emClickOutside)="showDropdown = false"
      [class.tab__item_active]="selectedLabel">
      <span>{{ selectedLabel || dropdownLabel }}</span>
      <svg-icon class="arrow" src="assets/icons/chevron-small.svg" />
      @if (showDropdown) {
        <div class="setting-info">
          <ul class="dropdown-list">
            @for (item of dropdownTabItems; track item) {
              <li
                class="d-flex-sb em-g-16 dropdown-list-item"
                [routerLink]="item.path"
                routerLinkActive="active"
                [ngClass]="{'dropdown-list-item_active': selectedLabel === item.label}"
                (click)="selectItem(item.label)">
                <span class="tab-item-dropdown-text">{{ item.label }}</span>
                <svg-icon class="em-d-contents dropdown__icon" src="./assets/images/succes.svg" />
              </li>
            }
          </ul>
        </div>
      }
    </a>
  }
</div>
