@import 'core/scss/variables';
@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

.value {
  display: flex;
  flex-direction: column;

  .item {
    font-size: 0.8rem;
    font-weight: bold;
    color: $palette;
  }
}
