@import "core/scss/flex";
@import "core/scss/margins";
@import "core/scss/mixins/mixin";

.auth {
  //width: 100%;
@include flex_ai_center();
  padding: 2rem;
  background: url("/assets/images/auth-bg.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;

}
.select-image {
  background: url("/assets/images/auth-bg2.webp") no-repeat center center!important;

}
