<form class="w-100" [formGroup]="form">
  <em-header2 [showBreadcrumb]="true">
    <div class="d-flex-sb w-100" header-center-default>
      <div class="title-h1">{{clientUserId ? 'Редактировать ' : 'Новый клиент ' }}</div>
      <div class="em-d-flex">
        <div class="v-line mr-1 pr-1">
          <button type="button" class="button-tooltip" (click)="back()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/cancel.svg" />
            <span class="tooltip-text">Отмена</span>
          </button>
        </div>
        <div class="v-line pr-1">
          <button type="button" class="button-tooltip" (click)="onSubmit()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/save.svg" />
            <span class="tooltip-text">Сохранить</span>
          </button>
        </div>
        <div *ngxPermissionsOnly="'ClientUserActiveStatus'" class="checkbox-toggle ml-2">
          <div class="toggle-title">Активировать</div>
          <input type="checkbox" id="switch" formControlName="isActive"/>
          <label for="switch">Toggle</label>
        </div>
      </div>
    </div>
  </em-header2>
  <div class="user-client-edit">
    <div class="padding-6 h-line">
      <div class="em-d-flex em-fw-wrap">
        <div class="w-50 v-line pr-7">
          <div class="form">
            <div class="label">Фамилия*</div>
            <div class="input">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Введите фамилию"
                [class.is-invalid]="f['lastName']?.invalid && f['lastName']?.touched">
                <em-validator [fieldControl]="f['lastName']" />
              </div>
            </div>
            <div class="form">
              <div class="label">Имя*</div>
              <div class="input">
                <input type="text" class="form-control" formControlName="firstName" placeholder="Введите имя"
                  [class.is-invalid]="f['firstName']?.invalid && f['firstName']?.touched">
                  <em-validator [fieldControl]="f['firstName']" />
                </div>
              </div>
              <div class="form">
                <div class="label">Отчество</div>
                <div class="input">
                  <input type="text" class="form-control" formControlName="middleName" placeholder="Введите отчество"
                    [class.is-invalid]="f['middleName']?.invalid && f['middleName']?.touched">
                    <em-validator [fieldControl]="f['middleName']" />
                  </div>
                </div>
                <div class="form">
                  <div class="label">Логин*</div>
                  <div class="input">
                    <input type="text" class="form-control" formControlName="userName" placeholder="Введите логин"
                      [class.is-invalid]="f['userName']?.invalid && f['userName']?.touched">
                      <em-validator [fieldControl]="f['userName']" />
                    </div>
                  </div>
                </div>
                <div class="w-50 pl-7 ">
                  <div class="form">
                    <div class="label">Номер телефона*</div>
                    <div class="input">
                      <input type="text" class="form-control" formControlName="phoneNumber" placeholder="+992 (##) ### ## ##"
                        mask="+000 (00) 000 00 00" [dropSpecialCharacters]=true
                        [class.is-invalid]="f['phoneNumber']?.invalid && f['phoneNumber']?.touched">
                        <em-validator [fieldControl]="f['phoneNumber']" />
                      </div>
                    </div>
                    <div class="form">
                      <div class="label">Email</div>
                      <div class="input">
                        <input type="text" class="form-control" formControlName="email" placeholder="Введите эл.почту"
                          [class.is-invalid]="f['email']?.invalid && f['email']?.touched">
                          <em-validator [fieldControl]="f['email']" />
                        </div>
                      </div>
                      <div class="form" formArrayName="roles">
                        @for (clientRole of clientRoles.controls; track clientRole; let i = $index) {
                          <div>
                            <div class="label">Роль*</div>
                            <div class="input">
                              <em-simple-select-list action="Выберите роли"
                                [formControlName]="i"
                                [dataSource]="clientRoleValues" />
                            </div>
                            <em-validator [fieldControl]="clientRole" />
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
                <div class="padding-6">
                  <div class="form">
                    <div class="label">Организация*</div>
                    <div class="input">
                      <em-autocomplete [searchable]="true"
                        formControlName="companyId"
                        [placeholder]="'Выберите организацию'"
                        [selectWithOutSearch]="true"
                        (changed)="selectedCompany($event)"
                        [path]="companyDictionaryApi" />
                      <em-validator [fieldControl]="f['companyId']" />
                    </div>
                  </div>
                  <div class="form">
                    <div class="label">Торговая точка*</div>
                    <div class="circle-check">
                      <div class="input">
                        <em-multi-select placeholder="Выберите торговые точки"
                          formControlName="merchants"
                          [disable]="merchantDisabled"
                          [dataSource]="merchantsDictionary"
                          (changed)="changeMerchant($event)" />
                        <em-validator [fieldControl]="f['merchants']" />
                      </div>
                      <label class="circle-checkbox" >
                        <input type="checkbox"
                          [disabled]="!isCompanySelected()"
                          [checked]="allMerchantsSelected()"
                          (change)="toggleAllMerchants($event)">
                          <div class="check em-d-flex-center">
                            <svg-icon src="assets/icons/check.svg" />
                          </div>Выбрать все
                        </label>
                      </div>
                    </div>
                    <div class="form">
                      <div class="label">Кассы*</div>
                      <div class="circle-check">
                        <div class="input">
                          <em-multi-select placeholder="Выберите кассы"
                            formControlName="poses"
                            [disable]="posesDisabled"
                            [dataSource]="posesDictionary" />
                          <em-validator [fieldControl]="f['poses']" />
                        </div>
                        <label class="circle-checkbox">
                          <input type="checkbox"
                            [disabled]="!isMerchantSelected()"
                            [checked]="allPosesSelected()"
                            (change)="toggleAllPoses($event)">
                            <div class="check em-d-flex-center">
                              <svg-icon src="assets/icons/check.svg" />
                            </div>Выбрать все
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <em-toast />
