<div class="position-sticky">
  <div class="header" [ngClass]="{ 'gradient-header': isExactAdvancePaymentsPage() }">
    @if (filterFields()?.length && !isMobile) {
      <em-quick-filter [defaultFilterField]="defaultFilterField()"
        [key]="filterStorageKey()"
        [filterFields]="filterFields()"
        [field]="field()"
        [filterParams]="filterParams()"
        [isAdvancePayments]="isExactAdvancePaymentsPage()" />
    }
    @if (showBreadcrumb()) {
      <em-breadcrumbs class="em-d-flex em-ai-center" />
    }
  </div>

  @if (isExactAdvancePaymentsPage()) {
    <em-banner />
  }

  <div class="container d-flex-sb em-ai-start gap-2 h-line d-blocks md-py-container">

    <ng-content select="[header-center-default]" />

    @if (pageTitle()) {
      <div class="title-h1">{{ pageTitle() }}</div>
    }

    <ng-content select="[back-button]" />

    @if (tabMenuItems()) {
      <em-tab-menu [tabItems]="tabMenuItems()" [enableDropdown]="enableDropdown()"
                   [dropdownLabel]="dropdownLabel()" />
    }

    <ng-content select="[header-center-actions]" />

    <ng-content select="[header-right-actions]" />

    <div class="d-flex-sb action-group action-container">
      <ng-content select="[header-actions]" />
    </div>

    @if (paymentStatusGroup()?.length) {
      <div class="tab">
        @for (status of paymentStatusGroup(); track status) {
          <a class="tab-item"
             [class.active]="(queryParams().statusId || '_') === status.value"
             (click)="selectStatus(status.value)">
            <span>{{ status.name }}</span>
          </a>
        }
      </div>
    }
    @if (showMobileFilter()) {
      <div class="mobile-filter" [ngClass]="{ 'md-p-0': isExactAdvancePaymentsPage() }">
        <button type="button" (click)="openFilter()" [class.active]="isShowFilter">Фильтры</button>
      </div>
    }
  </div>
</div>
