@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.account-edit-dialog {
  min-width: 640px;
  height: calc(100vh - 200px);
  overflow: auto;
  padding: 2.5rem;
}

