<form [formGroup]="form">
  <em-header2 [showBreadcrumb]="true">
    <div class="d-flex-sb w-100" header-center-default>
      <div class="title-h1">Акции банка</div>
      <div class="em-d-flex">
        <div class="v-line mr-1 pr-1">
          <button type="button" class="button-tooltip" (click)="back()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/cancel.svg" />
            <span class="tooltip-text">Отмена</span>
          </button>
        </div>
        <div class="v-line pr-1">
          <button type="button" class="button-tooltip" (click)="onSubmit()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/save.svg" />
            <span class="tooltip-text">Сохранить</span>
          </button>
        </div>
        <div *ngxPermissionsOnly="'CashbackPromotionActiveStatus'" class="ml-2 checkbox-toggle">
          <div class="toggle-title">Активировать</div>
          <input type="checkbox" id="switch" formControlName="isActive"/><label for="switch">Toggle</label>
        </div>
      </div>
    </div>
  </em-header2>
  <div class='bank-promotion' [class.blur]="submitted">
    <div class="padding-6 h-line">
      <div class="em-d-flex em-fw-wrap">
        <div class="w-50 v-line pr-6">
          <div class="form">
            <div class="label">Тип*</div>
            <div class="input">
              <em-simple-select-list action="Выберите тип"
                formControlName="cashbackAccrualTypeId"
                [dataSource]="accrualTypes"
                (changed)="onChangedAccrualType($event)" />
              <em-validator [fieldControl]="f['cashbackAccrualTypeId']" />
            </div>
          </div>
          <div class="form">
            <div class="label">Процент*</div>
            <div class="input">
              <em-simple-select-list action="Выберите процент"
                formControlName="bankCashbackId"
                [dataSource]="percents" />
              <em-validator [fieldControl]="f['bankCashbackId']" />
            </div>
          </div>
          <div class="form">
            <div class="label">Период кэшбэка*</div>
            <div class="input">
              <div class="em-d-flex">
                <div class="w-100">
                  <input type="date" class="form-control" formControlName="bankStartDate" placeholder="00.00.0000">
                  <em-validator [fieldControl]="f['bankStartDate']" />
                </div>
                <div class="w-100">
                  <input type="date" class="form-control" formControlName="bankEndDate" placeholder="00.00.0000">
                  <em-validator [fieldControl]="f['bankEndDate']" />
                </div>
                <div class="arrow" (click)="getPeriodTime()">
                  <svg-icon src="assets/images/arrow.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="form mb-0">
            <div class="label">Дни и время кэшбэка</div>
            <div class="input">
              <input class="form-control" [value]="weekDays" (click)="getDateTime()" readonly/>
            </div>
          </div>
        </div>
        <div class="w-50 pl-6">
          <div class="form">
            <div class="label">Как начислять кэшбэк*</div>
            <div class="input">
              <em-simple-select-list action="Выберите условие кэшбэка"
                formControlName="purposeCashbackTypeId"
                [dataSource]="cashbackTypes" />
              <em-validator [fieldControl]="f['purposeCashbackTypeId']" />
            </div>
          </div>
          <div class="form" [ngClass]="{'disabled' : forAmount}">
            <div class="label">Начислить кэшбэк не более*</div>
            <div class="input">
              <em-simple-select-list action="Выберите условие кэшбэка"
                formControlName="cashbackLimitId"
                [dataSource]="cashbackLimit" />
              <em-validator [fieldControl]="f['cashbackLimitId']" />
            </div>
          </div>
          <div class="form mb-0">
            <div class="label">Примечание</div>
            <div class="input">
              <div class="em-d-flex-center">
                <input type="text" class="form-control" formControlName="description" placeholder="Введите примечание">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-6">
      <div class="title-h1 mb-3">Документы</div>
      <div class="em-d-flex em-fw-wrap em-g-16">
        <em-upload-field formControlName="contractFiles"
          permissionName="CashbackPromotionUpload"
          [fileLimit]="3"
          [memType]="uploadFile.memType"
          [uploadPath]="uploadFile.uploadPath"
          [fileTypes]="['application/pdf']"
          (deactivateFileIds)="deactivateFileIds($event)"
          [fileStorageUrl]="fileStorageUrl"
          [fileStorageToken]="fileStorageToken" />
      </div>
    </div>
  </div>
  @if (submitted) {
    <em-eb-loader class="form-loader" />
  }
</form>
<em-toast />
