@import 'core/scss/variables';
@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.confirm-dialog {
  border-radius: 1rem;
  padding: 2.5rem;
}

.title {
  font-size: 18px;
}
