<em-header2 [showBreadcrumb]="true">
  <div class="d-flex-sb w-100" header-center-default>
    <div class="title-h1 w-100">Информация</div>
    <div class="em-d-flex em-ai-center">
      <div *ngxPermissionsOnly="'MerchantApplicationStatusUpdate'">
        <button type="button" class="button-tooltip" (click)="navigateToUpdate()">
          <svg-icon src="assets/icons/pen.svg" />
          <span class="tooltip-text">Редактировать</span>
        </button>
      </div>
    </div>
  </div>
</em-header2>
<div class="padding-6">
  <div class="em-d-flex em-g-16 w-50">
    <div class="labels">
      <div><span>Наименование</span><span>:</span></div>
      <div><span>Текст уведомления</span><span>:</span></div>
      <div><span>Создано</span><span>:</span></div>
      <div><span>Статус уведомлении</span><span>:</span></div>
      <div><span>Статус</span><span>:</span></div>
    </div>
    <div class="data">
      <span>{{ merchantApplicationStatusDetail?.name || '-' }}</span>
      <span>{{ merchantApplicationStatusDetail?.notificationText || '-' }}</span>
      <span>{{ merchantApplicationStatusDetail?.createdAt | dateTime }}</span>
      <span>{{ merchantApplicationStatusDetail?.canNotify || '-' }}</span>
      <span>{{ merchantApplicationStatusDetail?.statusName || '-' }}</span>
    </div>
  </div>
</div>
