<form class="w-100" [formGroup]="form" (submit)="onSubmit()">
  <em-header2 [showBreadcrumb]="true">
    <div class="d-flex-sb w-100" header-center-default>
      <div class="title-h1">{{balanceLimitDetail?.name || "Новый лимит"}}</div>
      <div class="em-d-flex">
        <div class="v-line mr-1 pr-1">
          <button type="button" class="button-tooltip" (click)="back()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/cancel.svg" />
            <span class="tooltip-text">Отмена</span>
          </button>
        </div>
        <div class="v-line pr-1">
          <button type="button" class="button-tooltip" (click)="onSubmit()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/save.svg" />
            <span class="tooltip-text">Сохранить</span>
          </button>
        </div>
        <div class="checkbox-toggle ml-1">
          <div class="toggle-title">Активировать</div>
          <input type="checkbox" id="switch" formControlName="isActive"/><label for="switch"></label>
        </div>
      </div>
    </div>
  </em-header2>
  <div class="balance-limit">
    <div class="em-d-flex pt-6 pb-6">
      <div class="w-50 pr-6 pl-6 v-line">
        <div class="form">
          <div class="label">Наименование*</div>
          <div class="input">
            <input formControlName="name" type="text" class="form-control" placeholder="Введите наименование"
                   [class.is-invalid]="f['name']?.invalid && f['name']?.touched">
            <em-validator [fieldControl]="f['name']" />
          </div>
        </div>
      </div>
      <div class="w-50 pr-6 pl-6 ">
        <div class="form">
          <div class="label">Лимит остатка*</div>
          <div class="input">
            <input formControlName="value" type="text" class="form-control" placeholder="Введите значение"
                   mask="separator.2" maxlength="17"
                   [class.is-invalid]="f['value']?.invalid && f['value']?.touched">
            <em-validator [fieldControl]="f['value']" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<em-toast />
