@import 'core/scss/variables';
@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

.client-role{
  height: calc(100vh - 218px);
}

.permissions {
  border: 1px solid $border-color;
  overflow-y: auto;
  border-radius: 1.25rem;

  &-childs {
    padding: 0 2.5rem 2.5rem;
  }

  .child-nodes {
    @include flex_column;
    gap: 1rem;
    margin-left: 1.5rem;
    padding-left: 0.5rem;
    border-left: 2px dashed $border-color;
  }

  .child {
    position: absolute;
    left: -30px;
  }
}
