<em-header2
  [tabMenuItems]="tabMenuItems"
  [enableDropdown]="true"
  [dropdownLabel]="'POS-терминал'"
  [filterFields]="columns"
  [actions]="actions"
  [filterStorageKey]="'historyClient'">
  <ng-container header-actions>
    <div class="d-flex-sb pl-3 v-line-left">
      @for (action of actions; track action) {
        <em-actions [actionData]="action" />
      }
    </div>
    @if (paginate) {
      <em-pagination class="pl-3"
        [page]="paginate" />
    }
  </ng-container>
</em-header2>
<em-table (detail)="showDetail($event)"
  (sortChange)="sortTable($event)"
  [dataSource]="userData"
  [captions]="columns"
  [captionKey]="captionKey"
  [loading]="loading()" />
@if (loading()) {
  <em-eb-loader class="form-loader" />
}
