@mixin input_placeholder($color, $font-weight: 400) {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
    font-weight: $font-weight;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }


  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
    font-weight: $font-weight;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
    font-weight: $font-weight;
  }
}
