@use 'core/scss/variables' as *;
@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/margins' as *;

.transaction-card {
  max-width: 232px;
  width: 100%;


  &__item{
    border-radius: 8px;
    padding: 8px 16px;
    background: $white-color;
    border: 1px solid $light-color;
  }
  &__header {
    img{
      margin-right: 8px;
    }
    .em-subtitle{
      color: $light-slate;
    }

  }
  &__body{
    padding-left: 22px;
    &-title  {
      color: $link-color;
    }
    &-subtitle  {
      color: $light-slate;
    }



  }
}
