$white-color: #FFFFFF;
$white-200: #dbdbdb;
$white-300: #fafafa;
$primary-color: #4E49CE;
$primary-prest: #322E84;
$deep-azure: #1565C0;
$light-color: #F1F1F3;
$light-gray: #D5D5D5;
$near-black: #090909;
$soft-pearl: #EEEDEE;
$medium-gray: #B6B6B6;
$link-color: #293241;
$black-700-color: #212121;
$grey-700-color: #6B7C8D;
$light-slate: #7D8597;
$palette: #8E9AAF;
$li-grey-hover: #E6EBF399;
$text-color: #293241;
$secondary-text-color: #525B6C;
$color-text-muted: #6A7282;
$success-color: #61BE40;
$success-border: #a6cf97;
$success-bg: #f1f6f1;
$canceled-color: #FF8C00;
$canceled-bg: #fffaf0;
$danger-color: #DA1E37;
$red-color: #ff0000;
$amaranth-color: #dc3545;
$danger-border: #f08594;
$canceled-border: #FFAA00;
$danger-bg: #eedfe3;
$refunded-color: #2C7BE3;
$refunded-border: #9dc7ff;
$refunded-bg: #f0f9ff;
$border-color: #DDDDDD;
$main-bg: #F7F7FA;
$brand-hover: #E1E4E7;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-550: #808182;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-bg: #F3F4F6;
$black: #000;
$form-width: 652px;
$label-color: #525B6C;
$border-hover: #8675FF;
$button-hover: #00209C;
$button-active: #021B7C;
$border-line: #F5F6FB;
$border-light: #E5E7EB;
$inactive-icons: #C7CDD7;
$brand-line: #EAEDF0;
$green: #75fb0f;
$green-100: #008236;
$green-50: #27ae60;
$green-200: #00C950;
$green-300: #7CCF00;
$green-400: #00A63E;
$green-900: #F0FDF4;
$main-black: #000A1B;
$active-item: #DCDBF5;
$scroll-bar-thumb: #888888;
$scroll-bar-thumb-hover: #555555;
$completed: #ddecd5;
$rejected : #f0dcdd;
$in-process: #f9f7e0;
$returned-status-color: #b4d4fd;
$unknown: #faf6e0;
$pastel-blue: #7bf;
$no-verified: #e1f0ff;
$unknown-status: #a2ffeb;
$disable-btn: #B2BECA;
$scroll-bg: #a8bbbf;
$scroll-bg-hover: #d6dee1;
$border-color-brand: #DEDFE2;
$color-grey-900: #878E98;
$color-grey-800: #8C99AD;
$color-grey-600: #F2F2F2;
$color-grey-500: #ECEEF2;
$color-grey-400: #C8CBD0;
$color-gray-100: #4A5565;
$success-status: #ddecd5;
$process-completed: #BEE5EB;
$process: #f9f7e0;
$returned-indicator: #1A51C3;
$soft-yellow: #e4dc87;
$lighting-gray: #f5f5f7;
$mediums-gray: #e4e4e7;
$vivid-blue: #0050C8;
$soft-silver: #EEEDEE;
$deep-blue: #1565C0;
$pale-gray: #DFE2E6;
$jet-black: #090909;
$light-gray: #e0e0e0;
$active-entry: #B6B6B6FF;
$primary-indigo: #562EF6;
$light-sky-blue: #98C8FC;
$steel-teal: #2c8491;
$light-color: #f5f5f5;
$light-gray: #D2D7DF;
$gray-95: #f5f5f5;
$blue-gray: #5E6D84;
$steel-gray: #70809A;
$orange: #f2994a;
$orange-50: #F0B100;
$orange-100: #FF6900;
$red-50: #eb5757;
$red-100: #FB2C36;
$blue-800: #1C398E;
$slate-700: #364153;
