@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
}

.company-acquirer-create-dialog {
  max-width: 600px;
  min-height: 600px;
  overflow: auto;
  padding: 2.5rem;
}

