<em-header2
  [tabMenuItems]="tabMenuItems"
  [actions]="actions"
  [filterFields]="columns"
  [enableDropdown] = true
  [filterStorageKey]="'payment-status-list'">

  <ng-container header-actions>
    <div class="d-flex-sb pl-3 v-line-left">
      @for (action of actions; track action) {
        <em-actions [actionData]="action"
                    [columns]="columns" />
      }
    </div>
    @if (paginate) {
      <em-pagination class="pl-3"
                     [page]="paginate" />
    }
  </ng-container>
</em-header2>
<em-table (detail)="showDetail($event)"
          (sortChange)="sortTable($event)"
          (edit)="edit($event)"
          [dataSource]="appealList"
          [captions]="columns"
          [rowActions]="tableActions"
          [loading]="loading()" />
