@import 'core/scss/variables';
@import 'core/scss/margins';
@import 'core/scss/button';
@import 'core/scss/flex';
@import 'core/scss/mixins/mixin';

.message-card {
  position: relative;
  display: flex;
  gap: 1.4rem;
  padding: 1.25rem 1rem 2rem;
  background-color: $polar-white;
  border-radius: 20px;
  border: 1px solid $polar-white;

  &__icon {
    svg-icon {
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
  }

  &__sender-name {
    font-size: 1.2rem;
    font-weight: 700;
    color: $black;
    margin: 0;
  }

  &__sender-role {
    font-size: .8rem;
    color: $neutral-gray;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: $jet-black;
    margin: 0;

    &--admin {
      color: $neutral-gray;
    }

  }

  &__attachments {
    display: flex;
    gap: 0.5rem;
    padding: .75rem 0 1.25rem 0;
  }

  &.admin-message {
    background-color: $white;
  }

  &__timestamp {
    position: absolute;
    right: 1rem;
    bottom: .8rem;
    font-size: 12px;
    color: $gray-mid;
    font-weight: 400;
    flex-shrink: 0;
    margin-top: 2px;
  }
}

.admin-message {
  .file-item {
    background-color: $main-bg;

    &:hover {
      background-color: darken($main-bg, 2%);
    }
  }
}

.file-item {
  @include flex_align_center_justify_between();
  padding: .3rem .5rem;
  background-color: $white;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: darken($white-300, 2%);
  }

  .file-info {
    @include flex_ai_center();
    gap: 0.75rem;
    flex: 1;
    min-width: 0;

    .file-icon {
      height: 30px;
    }

    .file-name {
      font-size: 0.875rem;
      color: $text-color;
      @include ellipsis-text;
    }
  }
}
