<div class="header">
  <em-breadcrumbs class="em-d-flex-center" />
</div>
<div class="container padding-5">

  <div class="tab">
    <a class="tab__item" routerLinkActive="tab__item_active" routerLink="payment-history"><span>История платежей</span></a>
    <a class="tab__item" routerLinkActive="tab__item_active" routerLink="payment-childs"><span>Дочерние транзакции</span></a>
    <a class="tab__item" routerLinkActive="tab__item_active" routerLink="payment-info"><span>Информация о платеже</span></a>
  </div>
</div>
  <router-outlet />
