<em-header2
  [tabMenuItems]="tabMenuItems"
  [showBreadcrumb]="true"
  [actions]="actions">
  <ng-container header-actions>
    <div class="d-flex-sb pl-3 v-line-left">
      @for (action of actions; track action) {
        <em-actions [actionData]="action" />
      }
    </div>
  </ng-container>
</em-header2>

<div class="container padding-6 h-line">
  @if (merchantDetail) {
    <div class="merchant-info em-d-flex">
      <div class="em-d-flex em-g-16 w-50 v-line pr-6">
        <div class="labels-data ">
          <div class="em-d-flex"><span class="key">ID мерчанта</span><span>:</span> <span
        class="data">{{ merchantDetail.id || '-' }}</span>
      </div>
      <div class="em-d-flex"><span class="key">ID в EQMS</span><span>:</span> <span
    class="data">{{ merchantDetail.extCodeEqms || '-' }}</span>
  </div>
  <div class="em-d-flex"><span class="key">Наименование точки</span><span>:</span> <span
class="data">{{ merchantDetail.name || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Организация</span><span>:</span> <span
class="data">{{ merchantDetail.companyName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Регион</span><span>:</span> <span
class="data">{{ merchantDetail.regionName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Район</span><span>:</span> <span
class="data">{{ merchantDetail.areaName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Город</span><span>:</span> <span
class="data">{{ merchantDetail.cityName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Адрес</span><span>:</span> <span
class="data">{{ merchantDetail.address || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Филиал</span><span>:</span> <span
class="data">{{ merchantDetail.branchName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Название расчетного счета</span>
<span>:</span>
<span class="data">{{ merchantDetail?.paymentAccountName || '-' }}</span>
</div>
<div class="em-d-flex">
  <span class="key">Номер расчетного счета</span>
  <span>:</span>
  <span class="data">{{ merchantDetail?.paymentAccountNumber || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Название карточного счета</span><span>:</span> <span
class="data">{{ merchantDetail.paymentCardAccountName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Номер карточного счета</span><span>:</span> <span
class="data">{{ merchantDetail.paymentCardAccountNumber || '-' }}</span>
</div>
</div>
</div>
<div class="em-d-flex em-g-16 w-50 pl-6">
  <div class="labels-data">
    <div class="em-d-flex"><span class="key">Телефон точки</span><span>:</span> <span
  class="data">{{ merchantDetail.phoneNumber || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Телефон владельца</span><span>:</span> <span
class="data">{{ merchantDetail.managerPhoneNumber || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">E-mail</span><span>:</span> <span
class="data">{{ merchantDetail.email || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Владелец</span><span>:</span> <span
class="data">{{ merchantDetail.managerName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Проверено</span><span>:</span> <span
class="data">{{ merchantDetail.verifiedName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Показать в главном</span><span>:</span> <span
class="data">{{ merchantDetail.showOnMainName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Категория</span><span>:</span> <span
class="data">{{ merchantDetail.categoryName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Подкатегория</span><span>:</span> <span
class="data">{{ merchantDetail.subCategoryName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Рабочие дни</span><span>:</span> <span
class="data">{{ merchantDetail.workDayName || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Подробное описание точки</span><span>:</span> <span
class="data">{{ merchantDetail.description || '-' }}</span>
</div>
<div class="em-d-flex"><span class="key">Дата последней синхронизации</span><span>:</span><span
class="data">{{ merchantDetail.lastSyncEqms | dateTime }}</span></div>
<div class="em-d-flex"><span class="key">Дата последнего вывода</span><span>:</span><span
class="data">{{ merchantDetail.lastIssueAt | dateTime }}</span></div>
<div class="em-d-flex"><span
  class="key">Промежуточный номер последнего выведенного платежа</span><span>:</span><span
class="data">{{ merchantDetail.lastIssuePreparePaymentNumber }}</span></div>
<div class="em-d-flex"><span class="key">Номер последнего выведенного платежа</span><span>:</span><span
class="data">{{ merchantDetail.lastIssuePaymentNumber }}</span></div>
</div>
</div>
</div>
}
</div>
<div class="container padding-6 h-line">
  <div class="title-h1 mb-3">Изображения</div>
  <div class="images em-d-flex em-fw-wrap em-g-16">
    @if (imgLoginMain) {
      <img [src]="imgLoginMain" alt="">
    }
    @if (imgLogoList) {
      <img [src]="imgLogoList" alt="">
    }
    @if (imgLogoDetail) {
      <img [src]="imgLogoDetail" alt="">
    }
  </div>
  @if ((!imgLoginMain && !imgLogoList && !imgLogoDetail) && !loading) {
    <div class="no-data">
      Изображения отсутствуют
    </div>
  }
</div>
@if (merchantDetail) {
  <div class="container padding-6 h-line">
    <div class="title-h1 mb-3">На карте</div>
    <em-map [latitude]="merchantDetail?.latitude"
      [longitude]="merchantDetail?.longitude"
      [disabled]="true"
     />
  </div>
}
@if (loading) {
  <em-eb-loader class="loader" />
}
