@use 'core/scss/variables' as *;
@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/button' as *;
@use 'core/scss/margins' as *;
@use 'core/scss/form' as *;
@use 'core/scss/card' as *;
@use 'core/scss/mixins/mixin' as *;

.item-card {
  @include flex_column();
  padding: 1rem;
  border-radius: 0.75rem;
  background: $white-color;
  gap: 1rem;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;

  .top {
    @include flex_column();
    gap: 0.5rem;

    .actions {
      @include flex_justify_between();

      .status {
        @include flex_align_center();
        gap: 0.5rem;

        .indicator {
          width: 8px;
          height: 8px;
          flex-shrink: 0;
          border-radius: 1rem;

          @include status(completed, $success-color);
          @include status(rejected, $danger-color);
        }

        .text {
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }

      .toggle {
        @include flex_align_center();

        .open {
          rotate: 180deg;
          transition: rotate .25s;
        }

        svg-icon {
          line-height: 0;
          rotate: 0deg;
          transition: rotate .25s;
        }
      }
    }

    .title {
      color: $blue-gray;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    .info {
      @include flex_column();

      &.active {
        height: 100%;
      }

      &.small .info-item {
        .label {
          width: 90px;
          flex-shrink: 0;
        }

        .value {
          width: 100%;
        }
      }

      &-item {
        @include flex_align_center();
        gap: 1rem;

        .label, .value {
          width: 130px;
          color: $steel-gray;
          font-size: 0.875rem;
          line-height: 1rem;
        }
      }
    }
  }

  .bottom {
    display: flex;
    gap: 0.5rem;

    .btn {
      width: 100%;
      padding: 0.5rem 1.25rem;
    }
  }
}



