@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/margins';
@import 'core/scss/paddings';

.value {
  display: flex;
  flex-direction: column;

  span {
    font-size: 14px;
    font-weight: bold;
    color: $palette;
  }
}
