<em-header2 [showBreadcrumb]="true">
  <div class="d-flex-sb w-100" header-center-default>
    <div class="title-h1 w-100">Информация</div>
    <div class="em-d-flex em-ai-center">
      <div *ngxPermissionsOnly="'ClientUserRoleUpdate'">
        <button type="button" class="button-tooltip" (click)="navigateToUpdate()">
          <svg-icon src="assets/icons/pen.svg" />
          <span class="tooltip-text">Редактировать</span>
        </button>
      </div>
    </div>
  </div>
</em-header2>
<div class="padding-7">
  <div class="labels-data">
    <div class="em-d-flex"><span class="key">Наименование*</span><span>:</span><span
      class="data">{{ clientRoleDetail?.name }}</span></div>
    <div class="em-d-flex"><span class="key">Примечание</span><span>:</span><span
      class="data">{{ clientRoleDetail?.description || '-' }}</span></div>
    <div class="em-d-flex"><span class="key">Статус</span><span>:</span><span
      class="data">{{ clientRoleDetail?.statusName || '-' }}</span></div>
    <div class="em-d-flex em-ai-start"><span class="key">Доступ</span><span>:</span>
      <span class="value">
        @for (permission of clientRoleDetail?.permissions; track permission) {
          <span>{{ permission || '-' }}</span>
        }
      </span>
    </div>
  </div>
</div>

