@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/margins';
@import 'core/scss/paddings';

.order-block {
  .header-order,
  .item-row {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    column-gap: 0.625rem;
    align-items: start;
  }

  .order-row,
  .order-span {
    font-size: 0.875rem;
    line-height: 1.5rem;
    word-break: break-word;
  }

  .order-row {
    font-weight: 700;
  }
}
