<form class="w-100" [formGroup]="form" (submit)="onSubmit()">
  <em-header2 [showBreadcrumb]="true">
    <div class="d-flex-sb w-100" header-center-default>
      <div class="title-h1">Редактировать настройки</div>
      <div class="em-d-flex">
        <div class="v-line mr-1 pr-1">
          <button type="button" class="button-tooltip" (click)="back()" [class.disabled]="submitted()">
            <svg-icon src="assets/icons/cancel.svg" />
            <span class="tooltip-text">Отмена</span>
          </button>
        </div>
        <div class="v-line pr-1">
          <button
            type="button"
            class="button-tooltip"
            (click)="onSubmit()"
            [disabled]="form.invalid || !areComponentsValid() || submitted()"
            [class.disabled]="form.invalid || !areComponentsValid() || submitted()">
            <svg-icon src="assets/icons/save.svg" />
            <span class="tooltip-text">Сохранить</span>
          </button>
        </div>
      </div>
    </div>
  </em-header2>

  <div class="balance-limit" [class.blur]="submitted()">
    <div class="em-d-flex padding-6">
      <div class="w-50 pr-6 v-line">
        <div class="form">
          <div class="label">Код*</div>
          <div class="input">
            <input
              formControlName="code"
              type="text"
              class="form-control"
              placeholder="Введите код"
              [class.is-invalid]="f['code']?.invalid && f['code']?.touched">
            <em-validator [fieldControl]="f['code']" />
          </div>
        </div>

        @if (!settingUpdate?.components?.length) {
          <div #jsonEditor class="json-editor"></div>
        } @else {
           <em-dynamic-fields [fields]="dynamicFields"
             [form]="paramsForm"
             [fileStorageUrl]="fileStorageUrl"
             [fileStorageToken]="fileStorageToken"
             [fileTypes]="['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document']"
             [fileLimit]="1"
             [uploadPath]="uploadFile.uploadPath" />
         }
      </div>

      <div class="w-50 pl-6">
        <div class="form">
          <div class="label">Описание</div>
          <div class="input">
            <div class="em-d-flex-center">
              <input
                type="text"
                class="form-control"
                formControlName="description"
                placeholder="Введите описание">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (submitted()) {
    <em-eb-loader class="form-loader" />
  }
</form>
<em-toast />
