@mixin input_placeholder($color, $font-weight: 400) {
  &::placeholder {
    color: $color;
    opacity: 1;
    font-weight: $font-weight;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-weight: $font-weight;
  }

  &::-ms-input-placeholder {
    color: $color;
    font-weight: $font-weight;
  }
}
