@use 'core/scss/variables' as *;
@use 'core/scss/styles' as *;
@use 'core/scss/flex' as *;
@use 'core/scss/button' as *;
@use 'core/scss/margins' as *;
@use 'core/scss/paddings' as *;
@use 'core/scss/form' as *;
@use 'core/scss/card' as *;

.support-center-info {

  .container {
    display: none;
  }

  .title-3 {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 700;
    margin: 0;
  }

  &__body {
    margin: 2rem 3rem;

    &__contacts {
      max-width: 70%;
    }

    &__send-btn {
      .btn {
        padding: 0 3rem;
      }
    }

    &__labels {
      gap: 3rem;
    }
  }

  &__textarea {
    .form {
      max-width: 100%;
      margin-bottom: 1.2rem;
    }

    .label {
      font-size: 1rem;
      font-weight: 700;
    }

    .message-area {
      height: 260px;
    }
  }

  .svg-icon {
    svg {
      width: 1.25rem;
      height: 1.25rem;

      > path {
        stroke: $gray-550;
      }
    }
  }

  .back-content, .hide-title-m {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .support-center-info {
    .position-sticky {
      position: absolute;
      top: 57px;
      width: 100%;
    }

    &-header {
      flex-direction: column;
    }

    &-body {
      margin: 2rem;
      flex-direction: column;

      .body-container {
        padding-bottom: 1.5rem;
      }

      .footer-container {
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .support-center-info {
    .position-fixed {
      position: absolute;
      top: 57px;
      width: 100%;
      z-index: 2;
    }

    &-header {
      padding: 1.25rem 1rem;
      flex-direction: row;
      align-items: center;

      .icon {
        display: none;
      }

      .back {
        display: block;
        line-height: 0;
      }

      .title-h1 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
      }

      .mobile-header {
        width: 100%;
        @include flex_align_center_justify_between();
      }

      .checkbox-toggle .toggle-title {
        display: none;
      }
    }

    &-body {
      margin: 5rem 1rem 1rem 1rem;
      padding: 1rem;
      border-radius: 0.75rem;
      box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);

      .body-container {
        padding-bottom: 0;
        border: none;
      }

      .footer-container {
        margin-top: 0;
      }

      .btn {
        padding: 0.75rem 0.625rem;
        width: 100%;
        display: block;
      }
    }

    .back-content {
      @include flex_align_center();
      gap: 0.5rem;
      width: 30%;
      background: $primary-color;
      padding: 0.6rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      color: $white-color;

      .title {
        font-size: 1rem;
      }

      .back {
        line-height: 0;
      }
    }

    .container {
      display: block;
      padding: 1rem 1rem 0 1rem;
    }
  }
}

@media (max-width: 700px) {
  .support-center-info {
    .labels-data.em-g-8.pl-6 {
      padding-left: 0;
    }
  }
}
