<div class="upload-field">
  <div class="upload-area">
    <svg-icon src="./assets/icons/attachment.svg" />
    <div>
      @if (!limitExceeded() && !readOnly) {
        <button class="upload-btn"
                type="button"
                (click)="onFileInputClick()">
          {{ placeholder }}
        </button>
      }
      <input #fileInput
             type="file"
             class="file-input"
             hidden
             [accept]="acceptedTypes()"
             (change)="onFileSelected($event)">

      <div class="file-info-text">
        Поддерживаемые форматы: {{ fileTypes.join(', ').toUpperCase() }}, не более {{ maxFileSize }} МБ
      </div>
    </div>
  </div>
  @if (files().length > 0) {
    <div class="files-list">
      @for (file of files(); track file.id; let i = $index) {
        @if (file.showStatus) {
          <div class="file-item d-flex-sb">
            <div class="file-info">
              <svg-icon class="file-icon"
                        [src]="getFileIcon(file.fileType || '')" />
              <span class="file-name">{{ file.fileName }}</span>
            </div>
            @if (!readOnly) {
              <button type="button"
                      class="remove-btn d-flex-sb"
                      (click)="removeFile(i)"
                      aria-label="Удалить файл">
                <svg-icon src="./assets/icons/cancel.svg" />
              </button>
            }
          </div>
        }
      }
    </div>
  }
</div>
