@import 'core/scss/variables';
@import 'core/scss/styles';
@import 'core/scss/flex';
@import 'core/scss/button';
@import 'core/scss/margins';
@import 'core/scss/form';
@import 'core/scss/paddings';

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem;
  overflow-y: visible;
}

.confirm-dialog {
  border-radius: 1rem;
  padding: 2.5rem;

}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
}


@include media-breakpoint-down(sm) {
  ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: var(--mat-dialog-container-small-max-width, 80vw) !important;
  }
}
