<form [formGroup]="form" (submit)="onSubmit()">
  <em-header2 [showBreadcrumb]="true">
    <div class="d-flex-sb w-100" header-center-default>
      <div class="title-h1">{{ brandDetail?.name || "Добавить модели терминалов" }}</div>
      <div class="em-d-flex em-ai-center">
        <div class="v-line mr-1 pr-1">
          <button type="button" class="button-tooltip" (click)="back()">
            <svg-icon src="assets/icons/cancel.svg"/>
            <span class="tooltip-text">Отмена</span>
          </button>
        </div>
        <div class="v-line pr-1">
          <button type="button" class="button-tooltip" (click)="onSubmit()" [class.disabled]="submitted">
            <svg-icon src="assets/icons/save.svg" />
            <span class="tooltip-text">Сохранить</span>
          </button>
        </div>
        <div *ngxPermissionsOnly="'SubCategoryActiveStatus'" class="em-d-flex-center em-g-8 ml-1">
          <div class="toggle-title">Активировать</div>
          <label class="toggle-checkbox">
            <input type="checkbox" formControlName="isActive">
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </em-header2>
  <div class="padding-6 balance-limit">
    <div class="form">
      <div class="label">Наименование*</div>
      <div class="input">
        <input formControlName="name" type="text" class="form-control" placeholder="Введите наименование"
               [class.is-invalid]="f['name']?.invalid && f['name']?.touched">
        <em-validator [fieldControl]="f['name']" />
      </div>
    </div>
    <div class="form">
      <div class="label">Описание</div>
      <div class="input">
        <input formControlName="description" type="text" class="form-control" placeholder="Введите описание"
               [class.is-invalid]="f['description']?.invalid && f['description']?.touched">
        <em-validator [fieldControl]="f['description']" />
      </div>
    </div>
  </div>
</form>
<em-toast />

